# OS / IDE
.DS_Store
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.ipynb_checkpoints/

# Virtual envs
.venv/
venv/
env/

# Training outputs
outputs/
checkpoints/
runs/
*.pth
*.ckpt
